# Ignore node_modules in both client and server
client-side/node_modules/
server-side/node_modules/

# Ignore environment files
server-side/.env
server-side/package.json
server-side/package-lock.json

# Ignore logs and temporary files
*.log

# Ignore system files
.DS_Store
Thumbs.db
